services:
    oka_rate_limit.request.event_listener:
        class: Oka\RateLimitBundle\EventListener\RequestListener
        arguments: ['@security.token_storage', '@translator', '@oka_rest_request_validator.error_response.factory', '', [], '']
        tags:
          - {name: kernel.event_subscriber}
